@use "../../../../globals";

:host {
  display: flex;
  justify-content: center;
}

%button {
  min-width: 36px;
  height: 36px;
  font-size: 24px;
  font-weight: bold;
  color: globals.$font-secondary-color;
    &:hover {
      color: globals.$button-primary-color;
      background-color: globals.$font-secondary-color;
    }
}

.pagination {
  display:flex;
  justify-content: center;
  width: fit-content;
  border-radius: 1000px;
  background-color: globals.$button-primary-color;
  border: 1px solid globals.$button-primary-color;
  > button {
    @extend %button;
  }

  > button:first-child {
    border-top-left-radius: 1000px;
    border-bottom-left-radius: 1000px;
  }

  > button:last-child {
    border-top-right-radius: 1000px;
    border-bottom-right-radius: 1000px;
  }
}

.active-button {
  color: globals.$button-primary-color !important;
  background-color: globals.$font-secondary-color;
}
