@defer (when cardList().length !== 0) {
  <section class="card-list">
    @for(card of cardList(); track card.url) {
      <div class="card">
        <img class="card__image" [src]="card.imageUrl" />
        <div class="card__content">
          <div class="card__content-title">{{ card.name }}</div>
          <div class="card__content-interactions">
            <button (click)="handleOnClickReadMore(card.url)" class="card__content-interactions-info">
              Read more
            </button>
            <button>
              <img src="icons/favorite.svg" alt="favourite" />
            </button>
          </div>
        </div>
      </div>
    }
  </section>
}
