@use "../../../../globals";

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  color: globals.$font-secondary-color;
}

.card {
  display: flex;
  flex: 0 0 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap:8px;
  border-radius: 12px;
  background-color: globals.$opacity-grey;
  &__image {
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    width: 100%;
    &-title {
      font-size: 20px;
      font-weight: 600;
    }
    &-interactions {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      &-info {
        border-radius: 12px;
        padding: 4px 8px;
        font-weight: 600;
        background-color: globals.$button-primary-color;
      }
    }
  }
}

@media(min-width: 600px) {
  .card {
    flex: 0 0 calc((100% - (48px * 1)) / 2);
  }
}

@media(min-width: 1024px) {
  .card {
    flex: 0 0 calc((100% - (48px * 2)) / 3);
  }
}
