@defer (when cardList().length !== 0) {
  <section>
    @for(card of cardList(); track card.url) {
      <div class="card">
        <img class="card-image" [src]="card.imageUrl" />
        <div class="card-content">
          <div class="card-content-title">{{ card.name }}</div>
          <div class="card-content-interactions">
            <button (click)="handleOnClickReadMore(card.url)" class="card-content-interactions-information">
              Read more
            </button>
            <button>
              <img src="icons/favorite.svg" alt="favourite" />
            </button>
          </div>
        </div>
      </div>
    }
  </section>
}
