// COLORS

$button-primary-color: #FFE81F;

$background-opacity-color: rgba(255, 232, 31, 0.1667);

$button-opacity-hover-color: rgba(255, 232, 31, 0.2);

$font-primary-color: #F0F0F0;
$font-secondary-color: #000000;

$opacity-grey: #d3d3d3F2;
